body{
    background-color: #E5E5E5;
}
.logo{width: 40px;}
.header-profole-pic{width: 40px;}

.player img{
    width: 56px;
}
.pra{
    padding-left: 15px;
    font-weight: bold;
}

main{
    width: 870px;
}
.top-player{
    background-color: #ffffff;
}
.player{
    padding: 20px;
}
.blog img{
    width: 177px;
}
.blog{
    padding: 20px;
}
.blog-details{
    margin-left: 10px;
}

.course{
    width: 870px;
    background-color: #ffffff;
    margin-top: 15px;
}


.course-item img{
    width: 230px;
}
.course-item{
    padding: 20px;
    
}
.cardbody{
    margin: 0 auto;
    padding: 7px;
    box-shadow: 5px 5px 10px lightgray;
    background-color:white;
    border-radius: 10px;
}
.star img{
    width: 15px;
    padding: 0;
    
}

.rating-mark{
    background-color: #E5E5E5;
    padding: 5px;
    border-radius: 50px;
}

.cardfooter{
    display: flex;
    height: 30px;
}

.course-hour{
    margin: 0;
    padding: 0;

}

.time{
    display: flex;
    background-color: #fad1d1;
    border-radius: 50px;
    padding: 4px 13px;
}

.time img{
    width: 25px; height: 25px; margin: 0; padding: 0;
}

.full-course{
    padding: 20px;
}